<html>
<head>
<title>gallery</title>
<style>
a:active  {color:{{settings['link_color']}}; text-decoration:none;font-size:small; font-family: Arial;}
a:link    {color:{{settings['link_color']}}; text-decoration:none;font-size:small; font-family: Arial;}
a:visited {color:{{settings['link_color']}}; text-decoration:none;font-size:small; font-family: Arial;}
a:hover   {color:{{settings['link_color']}}; text-decoration:none;font-size:small; font-family: Arial;}
</style>
</head>
<body bgcolor="{{settings['bgcolor']}}">
<table align="center">
<tr><td height="5px"/></tr>
{% set column_counter = 0 %}
{% for album in data.albums %}
{% if column_counter==0 %}
    <tr>
{% endif %}
<td align="center">
<a href="{{album.link}}" name="{{album.name}}">
<img src="{{album.cover_url}}"/>
<br/>
{{album.name}}
</a>
</td>
{% set column_counter = column_counter + 1 %} 

{% if column_counter > 2 %}
    {% set column_counter = 0 %}
    </tr>
    <tr><td height="8px"/></tr>
{% endif %}    

{% endfor %}

<tr><td height="10px"/></tr>
<tr>
<td colspan="3" align="right">
<a href="https://github.com/vovaprog/microgallery" style="text-decoration:underline;">powered by microgallery</a>
</td>
</tr>
</table>
 
</body>
</html>
