<html>
<style>
a:active  {color:{{settings['link_color']}}; text-decoration:underline;}
a:link    {color:{{settings['link_color']}}; text-decoration:underline;}
a:visited {color:{{settings['link_color']}}; text-decoration:underline;}
a:hover   {color:{{settings['link_color']}}; text-decoration:underline;}
</style>
<body bgcolor="{{settings['bgcolor']}}">
<table align="center">
<tr><td height="30px"></td></tr>
<tr><td>
<a href="{{data.original}}">
<img src="{{data.preview}}"/>
</a>
</td></tr>
<tr><td height="30px"></td></tr>
<tr><td align="center">
<a href="{{data.albumn_link}}">back to albumn</a>
</td></tr>
</table>
</body>
</html>

